.menu-container {
  display: flex;
  justify-content: space-between;
  background-color: rgba(18, 14, 37, 0.8);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-container svg {
  margin-left: 120px;
}

.menu-container .menu-inside-container {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.menu-container .gpw-icon {
  margin-top: 16px;
  margin-bottom: 16px;
}

.menu-container .menu-inside-container .menu-link {
  text-decoration: none;
  color: #f8f8fc;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu-container .menu-inside-container .menu-link:hover {
  color: var(--orange-mid, #ba4d30);
  transition: all 0.2s ease-out;
}

.menu-container .menu-inside-container .menu-button-link {
  margin-right: 120px;
}

.menu-container .menu-inside-container .menu-dot {
  color: var(--orange-mid, #ba4d30);
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: auto;
  margin-bottom: auto;
}
