.menu-container {
  display: flex;
  justify-content: space-between;
  background: rgba(35, 14, 37, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  transition: all 0.2s ease-out;
  padding-top: 16px;
  padding-bottom: 16px;
}

.hide-menu {
  background: rgba(35, 14, 37, 0.9);
  position: fixed;
  width: 100%;
  top: 72px;
  left: 0;
  z-index: 5;
  transition: all 0.2s ease-out;
  display: grid;
  justify-content: right;
  padding-bottom: 20px;
  transition: all 0.2s ease-out;
}

.hide-menu .menu-link {
  text-align: right;
  margin-right: 14px;
  padding: 10px;
  text-decoration: none;
  color: #f8f8fc;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hide-menu .menu-button-link {
  text-align: right;
  margin: 10px 24px 10px 0;
}

.menu-opaticy {
  /* background-color: rgba(18, 14, 37, 0); */
  background-color: rgba(18, 14, 37, 0.8);
}

.menu-container a.medicos-icon {
  margin-left: 100px;
}

.menu-container .menu-inside-container {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  height: 35px;
}

.menu-container .medicos-icon {
  margin-top: auto;
  margin-bottom: auto;
}

.menu-container .menu-inside-container .menu-link {
  text-decoration: none;
  color: #f8f8fc;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.menu-container .menu-inside-container .menu-link:hover {
  color: var(--orange-mid, #ba4d30);
  transition: all 0.2s ease-out;
}

.menu-container .menu-inside-container .menu-button-link {
  margin-right: 8px;
  margin-left: 44px;
  padding: 8px 16px;
}

.menu-container .menu-inside-container .menu-button {
  /* margin-right: 16px;
  border-radius: 8px;
  border: 1px solid var(--navy-light, #f7d4f3);
  background: var(--navy-dark, #56104f);
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0; */
  width: 44px;
  height: 44px;
  padding: 10px;
  /* margin-top: auto; */
  /* margin-bottom: auto; */
  cursor: pointer;
  margin-right: 16px;
}

.menu-container .rmo-dropdown button,
.menu-container .language-dropdown button,
.menu-container .dropdown-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.menu-container .btn-primary::after {
  display: none;
}

.menu-container .dropdown-item {
  padding: 8px 16px 8px 16px;
}

.menu-container .language-dropdown {
  margin-top: auto;
  margin-bottom: auto;
}

.menu-container .btn-primary,
.menu-container .btn-primary.show,
.menu-container .btn-primary:hover,
.menu-container .dropdown:active .btn-primary {
  padding: 0;
  background: rgba(35, 14, 37, 0);
  border: rgba(35, 14, 37, 0);
}

.menu-container .btn-primary:hover {
  color: var(--orange-mid, #ba4d30);
  transition: all 0.2s ease-out;
}

.menu-container .icon-arrow {
  fill: #f8f8fc;
  transition: all 0.2s ease-out;
}

.menu-container .btn-primary:hover .icon-arrow {
  fill: var(--orange-mid, #ba4d30);
}

.menu-container .dropdown-menu {
  background: var(--light, #fcf8fc);
  text-decoration: none;
  color: var(--dark, #120e25);
  min-width: 10px;
  border-radius: 0;
}

.menu-container .dropdown-menu.show {
  padding: 0;
}

.menu-container .dropdown-menu a {
  text-decoration: none;
  color: var(--dark, #120e25);
}

.menu-container .dropdown-menu a:hover {
  background: var(--navy-light, #f7d4f3);
  color: var(--navy-mid, #961d8a);
  transition: all 0.2s ease-out;
}

.menu-container .hide-menu-button {
  display: grid;
}

.menu-container .search-icon {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  width: 54px;
  height: 41px;
  padding: 3px 16px;
  margin-right: 8px;
}

.menu-container .linkedIn-a {
  margin-top: auto;
  margin-bottom: auto;
}

.menu-container .linkedIn-image {
  width: 24px;
  height: 24px;
  margin: auto 100px auto 18px;
}

.menu-container .flag-image {
  margin: auto 4px auto 0;
}

@media screen and (max-width: 1350px) {
  .menu-container .menu-inside-container .menu-link {
    font-size: 16px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1080px) {
  /* .menu-opaticy {
    background: rgba(35, 14, 37, 0.9);
  } */

  .menu-container .dropdown {
    margin-right: 24px;
  }
}

@media screen and (max-width: 500px) {
  .hide-menu {
    justify-content: left;
  }

  .hide-menu .menu-link {
    text-align: left;
    margin-left: 14px;
    margin-right: 0;
  }
  .hide-menu .menu-button-link {
    text-align: left;
    margin-left: 24px;
    margin-right: 0;
  }

  .menu-container .btn-primary:hover {
    color: #f8f8fc;
  }
}
