.search-c-container .empty-content-con {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 60px 24px;
  background: #f1f1f1;
}

.search-c-container .empty-content-con svg {
  margin-bottom: 24px;
}

.search-c-container .empty-content-con p {
  margin-bottom: 32px;
  max-width: 712px;
  margin-left: auto;
  margin-right: auto;
}

.search-c-container .empty-content-con .search-content-button {
  padding: 8px 16px;
}

@media screen and (max-width: 550px) {
  .search-c-container .empty-content-con {
    padding: 40px 24px;
  }
  .search-c-container .empty-content-con .search-content-button {
    display: flex;
    width: 100%;
  }
}
