.search-h-container {
  padding-top: 125px;
  padding-bottom: 45px;
  background: url(../../../images/header-background.webp) no-repeat fixed 50% 0;
  overflow: hidden;
  background-size: cover !important;
  background-position: center;
}

.search-h-container {
  background-attachment: scroll !important;
}

.search-h-container h1 {
  color: var(--color-basics-white, #fff);
  margin-bottom: 16px;
}

.search-h-container p {
  color: var(--color-basics-white, #fff);
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  letter-spacing: 0.48px;
}

@media screen and (max-width: 1000px) {
  .search-h-container p {
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .search-h-container p {
    font-size: 16px;
    font-weight: 300;
    line-height: 170%; /* 27.2px */
  }
}
