.materials-c-container {
}

.materials-c-container .filter-con {
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 16px;
  background: #d9d9d9;
}

.materials-c-container .filter-con .filters {
  display: grid;
  grid-template-columns: 50% 24% 24%;
  grid-auto-rows: auto;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
}

.materials-c-container .filter-con .filters div {
  display: grid;
}

.materials-c-container .filter-con p {
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
}
