.materials-f-container {
  background: var(--light-bg, #fbfcfe);
  padding-top: 24px;
  padding-bottom: 24px;
}

.materials-f-container .filter-con {
  padding: 16px;
  border-radius: 16px;
  background: var(--hover-bg, #e9f2fb);
  display: flex;
  flex-direction: column;
}

.materials-f-container .filter-con .filters {
  display: grid;
  grid-template-columns: 50% 24% 24%;
  grid-auto-rows: auto;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
}

.materials-f-container .filter-con .filters label {
  color: var(--Input-Label, #144487);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}

.materials-f-container .filter-con .filters .material-input {
  height: 44px;
  padding: 10px 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M19 19L13 13M15 8C15 8.91925 14.8189 9.82951 14.4672 10.6788C14.1154 11.5281 13.5998 12.2997 12.9497 12.9497C12.2997 13.5998 11.5281 14.1154 10.6788 14.4672C9.82951 14.8189 8.91925 15 8 15C7.08075 15 6.1705 14.8189 5.32122 14.4672C4.47194 14.1154 3.70026 13.5998 3.05025 12.9497C2.40024 12.2997 1.88463 11.5281 1.53284 10.6788C1.18106 9.82951 1 8.91925 1 8C1 6.14348 1.7375 4.36301 3.05025 3.05025C4.36301 1.7375 6.14348 1 8 1C9.85652 1 11.637 1.7375 12.9497 3.05025C14.2625 4.36301 15 6.14348 15 8Z' stroke='%234D8CE5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: 50%;
  border-radius: 12px;
  color: var(--main-text, #0a2243);
  border: 1px solid var(--Input-Border, #d3e2f8);
}

.materials-f-container .filter-con .filters .material-input::placeholder {
  color: var(--Input-Placeholder, #b0c7e8);
}

.materials-f-container .filter-con .filters .dropdown {
  height: 44px;
}

.materials-f-container .filter-con .filters .dropdown button {
  height: 44px;
  padding: 10px 16px;
  border-radius: 12px;
  color: var(--main-text, #0a2243);
  border: 1px solid var(--Input-Border, #d3e2f8);
  background: #ffffff;
  width: 100%;
  text-align: left;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"%3E%3Cg clip-path="url(%23clip0_550_5966)"%3E%3Cpath d="M6 9L12 15L18 9" stroke="%234D8CE5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id="clip0_550_5966"%3E%3Crect width="24" height="24" fill="white" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position-x: 95.5%;
  background-position-y: 50%;
}

.materials-f-container .filter-con .filters .dropdown-menu {
  background: #fff;
  text-decoration: none;
  width: 100%;
  min-width: 10px;
  border-radius: 8px;
  box-shadow: 4px 4px 25px 0px rgba(13, 45, 89, 0.2);
  padding: 8px;
  margin: 0;
}

.materials-f-container .filter-con .filters .dropdown-item {
  padding: 8px;
  transition: all 0.2s ease-out;
  cursor: auto;
}

.materials-f-container .filter-con .filters .dropdown-item:hover {
  border-radius: 8px;
  background: var(--hover-bg, #e9f2fb);
}

.materials-f-container .filter-con .filters .btn-primary::after {
  display: none;
}

.materials-f-container .filter-con .filters .dropdown-item label {
  margin: 0;
  margin-left: 6px;
  color: var(--main-text, #0a2243);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  vertical-align: middle;
}

.materials-f-container .filter-con .filters .dropdown-item p {
  margin: 0;
  color: var(--main-text, #0a2243);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  vertical-align: middle;
}

.materials-f-container .filter-con .filters input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border: 2px solid #003b6f;
  border-radius: 3px;
  cursor: pointer;
  vertical-align: middle;
}

.materials-f-container .filter-con .filters input[type="checkbox"] {
  accent-color: #003b6f;
}

.materials-f-container .filter-con .filters .input-filter {
  margin-top: 4px;
  display: grid;
}

.materials-f-container .filter-con p {
  margin-left: auto;
  cursor: pointer;
  color: var(--primary, #144487);
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.32px;
  transition: all 0.2s ease-out;
}

.materials-f-container .filter-con p:hover {
  color: var(--Button-secondary-hover-txt, #4d8ce5);
}

@media screen and (max-width: 1200px) {
  .materials-f-container .filter-con .filters {
    grid-template-columns: 1fr;
  }

  .materials-f-container .filter-con .filters .material-input {
    background-position-x: 98%;
  }

  .materials-f-container .filter-con p {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 568px) {
  .materials-f-container .filter-con p:hover {
    color: var(--primary, #144487);
  }
}
