.materials-c-container {
  background: var(--light-bg, #fbfcfe);
}

.materials-c-container .empty-content-con {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 60px 0px;
  border-radius: 16px;
  background: var(--hover-bg, #e9f2fb);
}

.materials-c-container .empty-content-con svg {
  margin-bottom: 24px;
}

.materials-c-container .empty-content-con h3 {
  color: var(--Button-primary-bg, #144487);
}

.materials-c-container .empty-content-con p {
  color: var(--main-text, #0a2243);
  margin-bottom: 24px;
  max-width: 612px;
  margin-left: auto;
  margin-right: auto;
}

.materials-c-container .empty-content-con .clear-filter-p {
  color: var(--primary, #144487);
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.32px;
  cursor: pointer;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.2s ease-out;
}

.materials-c-container .empty-content-con .clear-filter-p:hover {
  color: var(--Button-secondary-hover-txt, #4d8ce5);
}

.materials-c-container .content-con {
  padding-top: 30px;
  padding-bottom: 30px;
}

.materials-c-container .content-con .results-con {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1000px) {
  .materials-c-container .content-con .results-con {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .materials-c-container .empty-content-con {
    padding: 40px 24px;
  }

  .materials-c-container .content-con .results-con {
    grid-template-columns: repeat(1, 1fr);
  }
  .materials-c-container .empty-content-con .clear-filter-p:hover {
    color: var(--primary, #144487);
  }
}
