.materials-f-container {
}

.materials-f-container .filter-con {
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 16px;
  background: #d9d9d9;
}

.materials-f-container .filter-con .filters {
  display: grid;
  grid-template-columns: 50% 24% 24%;
  grid-auto-rows: auto;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
}

.materials-f-container .filter-con .filters .material-input {
  height: 44px;
  padding: 3px 16px 3px 46px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M19 19L13 13M15 8C15 8.91925 14.8189 9.82951 14.4672 10.6788C14.1154 11.5281 13.5998 12.2997 12.9497 12.9497C12.2997 13.5998 11.5281 14.1154 10.6788 14.4672C9.82951 14.8189 8.91925 15 8 15C7.08075 15 6.1705 14.8189 5.32122 14.4672C4.47194 14.1154 3.70026 13.5998 3.05025 12.9497C2.40024 12.2997 1.88463 11.5281 1.53284 10.6788C1.18106 9.82951 1 8.91925 1 8C1 6.14348 1.7375 4.36301 3.05025 3.05025C4.36301 1.7375 6.14348 1 8 1C9.85652 1 11.637 1.7375 12.9497 3.05025C14.2625 4.36301 15 6.14348 15 8Z' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: 3%;
  background-position-y: 50%;
  border: 1px solid black;
}

.materials-f-container .filter-con .filters .material-select {
  height: 44px;
  padding: 3px 8px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.29279 7.29301C5.48031 7.10553 5.73462 7.00022 5.99979 7.00022C6.26495 7.00022 6.51926 7.10553 6.70679 7.29301L9.99979 10.586L13.2928 7.29301C13.385 7.19749 13.4954 7.12131 13.6174 7.0689C13.7394 7.01649 13.8706 6.98891 14.0034 6.98775C14.1362 6.9866 14.2678 7.0119 14.3907 7.06218C14.5136 7.11246 14.6253 7.18672 14.7192 7.28061C14.8131 7.3745 14.8873 7.48615 14.9376 7.60905C14.9879 7.73195 15.0132 7.86363 15.012 7.99641C15.0109 8.12919 14.9833 8.26041 14.9309 8.38241C14.8785 8.50441 14.8023 8.61476 14.7068 8.707L10.7068 12.707C10.5193 12.8945 10.265 12.9998 9.99979 12.9998C9.73462 12.9998 9.48031 12.8945 9.29279 12.707L5.29279 8.707C5.10532 8.51948 5 8.26517 5 8C5 7.73484 5.10532 7.48053 5.29279 7.29301Z' fill='black'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;
  border: 1px solid black;
}

.materials-f-container .filter-con .filters div {
  display: grid;
}

.materials-f-container .filter-con p {
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .materials-f-container .filter-con .filters {
    grid-template-columns: 1fr;
  }

  .materials-f-container .filter-con .filters .material-input {
    background-position-x: 1.5%;
    padding-left: 40px;
  }

  .materials-f-container .filter-con .filters .material-select {
    background-position-x: 99.5%;
  }
}
