.document-c-container {
  padding-top: 125px;
  padding-bottom: 45px;
  background: var(--color-basics-white, #fff);
}

.document-c-container .title-con {
  margin: 0px 100px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-bottom: 1px solid var(--active-bg, #d4e5f7);
}

.document-c-container .title-con p {
  color: var(--main-text, #0a2243);
}

.document-c-container .title-con p {
  color: var(--Button-primary-bg, #144487);
}

.document-c-container .description-con {
  margin: 32px 100px 0px 100px;
  color: var(--main-text, #0a2243);
}
