.footer-container {
  border-top: 1px solid var(--active-bg, #d4e5f7);
  border-bottom: 1px solid var(--active-bg, #d4e5f7);
  background: var(--light-bg, #fbfcfe);
  padding: 40px 180px 16px 180px;
  justify-content: center;
  align-items: center;
}

.footer-container p {
  color: var(--Button-primary-bg, #144487);
  font-size: 14px;
  font-style: normal;
  line-height: 160%; /* 22.4px */
  margin-bottom: 4px;
}

.footer-container .footer-up {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 40px;
  padding-bottom: 16px;
}

.footer-container .footer-up a {
  text-decoration: none;
}

.footer-container .footer-up a p {
  transition: all 0.2s ease-out;
}

.footer-container .footer-up a p:hover {
  text-decoration: underline;
  color: var(--Button-secondary-hover-txt, #4d8ce5);
}

.footer-container .footer-down {
  border-top: 1px solid var(--active-bg, #d4e5f7);
  padding: 16px 0px 8px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.footer-container .footer-down div p {
  color: var(--mid-blue, #4d8ce5);
}

.footer-container .footer-down .right-footer-down {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.footer-container .footer-down .right-footer-down a {
  text-decoration: none;
}

.footer-container .footer-down .right-footer-down a p {
  color: var(--Button-primary-bg, #144487);
  transition: all 0.2s ease-out;
}

.footer-container .footer-down .right-footer-down a p:hover {
  text-decoration: underline;
  color: var(--Button-secondary-hover-txt, #4d8ce5);
}

.footer-container h6 {
  color: var(--mid-blue, #4d8ce5);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 22.4px */
  margin-bottom: 8px;
}

.footer-container .address {
  font-weight: 300 !important;
}

.footer-container .footer-button-link {
  padding: 8px 16px;
  border-radius: 8px;
  background: var(--Button-primary-bg, #144487);
  color: var(--neutral-white, var(--color-basics-white, #fff));
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
  transition: all 0.2s ease-out;
  width: 143px;
  height: 35px;
}

.footer-container .footer-button-link:hover {
  background: var(--Button-primary-hover-bg, #0d2d59);
}

.footer-container .contact-a {
  margin-top: 20px;
}

.footer-container .contact-con {
  display: grid;
}

.footer-container .linkedIn-a {
  border-radius: 8px;
  border: 1px solid var(--active-bg, #d4e5f7);
  width: 35px;
  height: 35px;
  transition: all 0.2s ease-out;
}

.footer-container .linkedIn-a:hover {
  background: #e9f2fb;
}

.footer-container .linkedIn-image {
  width: 24px;
  height: 24px;
  margin: 4.5px;
  border-radius: 4px;
}

.bottom {
  margin-bottom: 8px !important;
}

@media screen and (max-width: 1200px) {
  .footer-container {
    padding: 40px 16px 16px 16px;
  }
}

@media screen and (max-width: 1080px) {
  .footer-container .footer-up {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .footer-container .footer-up {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-container .footer-down {
    display: grid;
  }

  .footer-container .linkedIn-a:hover {
    background: var(--light-bg, #fbfcfe);
  }
}
