.footer-container {
  background: var(--navy-dark, #56104f);
  display: flex;
  padding: 60px 120px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.footer-container p a,
.footer-container p {
  color: #fff;
  line-height: normal;
}

.footer-container .footer-icons {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

@media screen and (max-width: 1250px) {
  .footer-container {
    flex-direction: column;
    gap: 48px;
    padding: 56px 24px 76px 24px;
  }
}

@media screen and (max-width: 500px) {
  .footer-container p,
  .footer-container svg {
    margin-right: auto;
  }
  .footer-container .footer-icons {
    margin-left: auto;
  }
}
