.news-c-container {
  background: var(--light-bg, #fbfcfe);
}

.news-c-container .content-con {
  padding-top: 30px;
  padding-bottom: 30px;
}

.news-c-container .content-con .results-con {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1000px) {
  .news-c-container .content-con .results-con {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .news-c-container .empty-content-con {
    padding: 40px 24px;
  }

  .news-c-container .content-con .results-con {
    grid-template-columns: repeat(1, 1fr);
  }
  .news-c-container .empty-content-con .clear-filter-p:hover {
    color: var(--primary, #144487);
  }
}
