.home-i-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.home-i-container .i-con {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}

.home-i-container .i-con .up-con h4 {
  margin-bottom: 16px;
}

.home-i-container .i-con .up-con p {
  margin-bottom: 36px;
}

.home-i-container .industry-button {
  padding: 8px 16px;
}

.home-i-container .i-con .down-con {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
}

.home-i-container .i-con .down-con .industry {
  position: relative;
  width: 246px;
  height: 412px;
  padding: 32px 16px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.home-i-container .i-con .down-con .industry .industry-con {
  z-index: 1;
  position: absolute;
  width: 224px;
  bottom: 0;
  height: 84px;
  transition: height 0.3s ease-out;
  overflow: hidden;
}

.home-i-container .i-con .down-con .industry:hover .industry-con {
  height: 95%;
}

.home-i-container .i-con .down-con .industry:hover h4 {
  margin: 0;
}

.home-i-container .i-con .down-con .industry .h4-con {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 57px;
  margin-bottom: 24px;
}
.home-i-container .i-con .down-con .industry:hover .h4-con {
  height: auto;
}

.home-i-container .i-con .down-con .industry h4 {
  margin: 0;
  margin-top: auto;
}

.home-i-container .i-con .down-con .industry:hover h4 {
  margin-bottom: auto;
}

.home-i-container .i-con .down-con .industry p {
  font-size: 14px;
  margin-bottom: 28px;
}

@media screen and (max-width: 1400px) {
  .home-i-container .i-con .down-con {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .home-i-container .i-con .down-con {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .home-i-container .i-con .down-con {
    grid-template-columns: repeat(1, 1fr);
  }
  .home-i-container .industry-button {
    display: flex;
    width: 100%;
  }
}
