.home-i-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.home-i-container .i-con {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}

.home-i-container .i-con h2 {
  color: var(--Button-primary-bg, #144487);
}

.home-i-container .i-con .up-con p {
  color: var(--main-text, #0a2243);
  width: 80%;
  margin-bottom: 36px;
}

.home-i-container .industry-button {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid var(--Button-secondary-border, #d3e2f8);
  background: var(--light-bg, #fbfcfe);
}

.home-i-container .industry-button:hover {
  background: #e9f2fb;
  color: var(--Button-secondary-hover-txt, #4d8ce5);
  transition: all 0.2s ease-out;
}

.home-i-container .i-con .down-con {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
}

.home-i-container .i-con .down-con .industry {
  border-radius: 16px;
  position: relative;
  width: 246px;
  height: 412px;
  padding: 32px 16px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.home-i-container .i-con .down-con .household-chemicals {
  background: url(../../../images/home/industries/home-industries-household-chemicals.png);
  background-size: cover !important;
  background-position: center;
}

.home-i-container .i-con .down-con .cosmetology {
  background: url(../../../images/home/industries/home-industries-cosmetology.png);
  background-size: cover !important;
  background-position: center;
}

.home-i-container .i-con .down-con .pharmacy {
  background: url(../../../images/home/industries/home-industries-pharmacy.png);
  background-size: cover !important;
  background-position: center;
}

.home-i-container .i-con .down-con .food {
  background: url(../../../images/home/industries/home-industries-food.png);
  background-size: cover !important;
  background-position: center;
}

.home-i-container .i-con .down-con .other-industries {
  background: url(../../../images/home/industries/home-industries-other-industries.png);
  background-size: cover !important;
  background-position: center;
}

.home-i-container .i-con .down-con .industry .industry-con {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 32px 16px 16px 16px;
  height: 115px;
  transition: height 0.5s ease-out;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  /* flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: auto; */
  border-radius: 18px;
}

.home-i-container .i-con .down-con .industry .register-btn {
  z-index: 2;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.home-i-container .i-con .down-con .industry:hover .industry-con {
  background: linear-gradient(180deg, rgba(10, 34, 67, 0.6) 0%, #0a2243 100%);
  height: 100%;
}

.home-i-container .i-con .down-con .industry:hover .register-btn {
  opacity: 1;
}

.home-i-container .i-con .down-con .industry:hover h4 {
  margin: 0;
}

.home-i-container .i-con .down-con .industry .h4-con {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 57px;
  margin-bottom: 24px;
}

.home-i-container .i-con .down-con .industry h4 {
  color: var(--color-basics-white, #fff);
  margin: 0;
  margin-top: auto;
}

.home-i-container .i-con .down-con .industry p {
  color: var(--color-basics-white, #fff);
  line-height: 150%;
  font-size: 14px;
  margin-bottom: 28px;
}

@media screen and (max-width: 1400px) {
  .home-i-container .i-con .down-con {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .home-i-container .i-con .down-con {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .home-i-container .i-con .down-con {
    grid-template-columns: repeat(1, 1fr);
  }
  .home-i-container .industry-button {
    display: flex;
    width: 100%;
  }
}
