.n-container {
  padding-top: 120px;
  padding-bottom: 120px;
  overflow: hidden;
  background-size: cover !important;
  background-position: center;
  width: 100%;
  background: url(../../../images/numbers/n-background.png) no-repeat fixed 50%
    0;
  background-attachment: scroll;
  text-align: center;
}

.n-container .n-number-container {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.n-container .n-number-container > div {
  display: flex;
  max-width: 348px;
  padding: 16px;
  align-items: flex-start;
  gap: 16px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
}

.n-container .n-number-container > div:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.2s ease-out;
}

.n-container .n-number-container > div .n-icon {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--light, #fcf8fc);
}

.n-container .n-number-container > div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
}

.n-container .n-number-container > div div .p-number {
  color: var(--light, #fcf8fc);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
}

.n-container .n-number-container > div:hover div .p-number {
  font-size: 54px;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease-out;
}

.n-container .n-number-container > div div .p-number-desc {
  color: var(--light, #fcf8fc);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
}
