.o-container {
  text-align: center;
  padding-top: 33px;
  padding-bottom: 28px;
  background: var(--light, #fcf8fc);
}

.o-container h3 {
  color: var(--orange-mid, #ba4d30);
  text-align: center;
  margin-bottom: 24px;
}

.o-container .o-grid {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 180px;
}

.o-container .o-grid .o-image {
  margin: auto;
}

@media screen and (max-width: 780px) {
  .o-container {
    padding-top: 58px;
    padding-bottom: 75px;
  }

  .o-container .o-grid {
    display: grid;
    gap: 40px;
  }
}
