.p-container {
  padding-top: 80px;
  padding-bottom: 80px;
  background: var(--light, #fcf8fc);
  text-align: center;
  position: relative;
}

.p-container h2 {
  background: var(
    --gradient,
    linear-gradient(90deg, #ce482e 0%, #a84563 47%, #5d1360 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.p-container h3 {
  color: rgba(186, 77, 48, 1);
}

.p-container .a-image-top {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 400px;
}

.p-container .partner-image {
  filter: grayscale(1);
  transition: all 0.2s ease-out;
  width: 180px;
  height: 100px;
}

.p-container .partner-image:hover {
  filter: grayscale(0);
}

.p-container .main-partners-con {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.p-container .main-partners-con .main-partners {
  display: flex;
  flex-wrap: wrap;
  max-width: 1118px;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.p-container .support-content-partners-con {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
}

.p-container .margin48 {
  margin-top: 48px;
}

.p-container .support-content-partners-con .support-partners-con,
.p-container .support-content-partners-con .content-partners-con {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.p-container
  .support-content-partners-con
  .support-partners-con
  .support-partners,
.p-container
  .support-content-partners-con
  .content-partners-con
  .content-partners {
  display: flex;
  flex-wrap: wrap;
  max-width: 572px;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.p-container .partners-con {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.p-container .partners-con .partners {
  display: flex;
  flex-wrap: wrap;
  max-width: 1118px;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.p-container .media-partners-con {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.p-container .media-partners-con .media-partners {
  display: flex;
  flex-wrap: wrap;
  max-width: 1118px;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

@media screen and (max-width: 1000px) {
  .p-container .partner-image {
    filter: grayscale(0);
  }
}

@media screen and (max-width: 500px) {
  .p-container .support-content-partners-con {
    display: grid;
  }
}
