.s-container {
  padding-top: 80px;
  padding-bottom: 120px;
  background: var(--light-bg, #faf0f9);
  text-align: center;
}

.s-container h2 {
  background: var(
    --gradient,
    linear-gradient(90deg, #ce482e 0%, #a84563 47%, #5d1360 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}

.s-container .speakers-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 60px;
}

.s-container .speakers-container .speaker {
  position: relative;
}

.s-container .speakers-container .speaker-content {
  z-index: 1;
  position: absolute;
  width: 100%;
  bottom: 0;
  gap: 16px;
  background: var(--navy-mid, #961d8a);
  text-align: left;
  border-radius: 0px 0px 8px 8px;
  transition: height 0.3s ease-out;
  height: 0;
  overflow: hidden;
}

.s-container .speakers-container .speaker:hover .speaker-content {
  height: 100px;
}

.s-container .speakers-container .speaker .speaker-image {
  filter: grayscale(1);
  transition: all 0.3s ease-out;
}

.s-container .speakers-container .speaker:hover .speaker-image {
  filter: grayscale(0);
}

.s-container .speakers-container .speaker-content h4 {
  margin: 0;
  padding: 16px 24px 0 24px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.s-container .speakers-container .speaker-content div {
  margin-bottom: 10px;
}

.s-container .speakers-container .speaker-content p {
  margin: 0;
  color: var(--navy-light, #f7d4f3);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  padding: 0 24px 0 24px;
}

.s-container .speakers-container .speaker-image {
  /* filter: grayscale(1);
  filter: brightness(0) saturate(100%) invert(8%) sepia(12%) saturate(3893%)
    hue-rotate(251deg) brightness(92%) contrast(99%); */
}
.s-container .speakers-container .speaker-image:hover {
  /* filter: grayscale(0); */
}
.s-container .speakers-container .speaker-image img:hover {
}
.s-container .carousel-indicators {
  bottom: -100px;
}
.s-container .carousel-indicators button {
  display: flex;
  width: 24px;
  height: 4.8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  background: var(--navy-light, #f7d4f3);
  opacity: 1;
}

.s-container .carousel-indicators .active {
  width: 44px !important;
  background: var(--navy-mid, #961d8a);
}

.s-container .carousel-control-prev,
.s-container .carousel-control-next {
  opacity: 1;
}
.s-container .carousel-control-prev-icon,
.s-container .carousel-control-next-icon {
  z-index: 1;
  display: inline-flex;
  transform: rotate(0deg);
  align-items: flex-start;
  border-radius: 8px;
  width: 60px;
  height: 60px;
  border: 1px solid var(--navy-mid, #961d8a);
  background: var(--light, #fcf8fc);
  box-shadow: 4px 4px 8px 0px rgba(57, 19, 55, 0.25);
}

.s-container .carousel-control-prev-icon:hover,
.s-container .carousel-control-next-icon:hover {
  background-color: var(--navy-light, #f7d4f3);
  transition: all 0.2s ease-out;
}

.s-container .carousel-control-prev {
  left: -7%;
  width: 60px;
}
.s-container .carousel-control-next {
  width: 60px;
  right: -7%;
}
.s-container .carousel-control-prev-icon {
  background: url("../../../images/speakers/arrow-left.png") no-repeat fixed 50%
    50%;
}

.s-container .carousel-control-next-icon {
  background: url("../../../images/speakers/arrow-right.png") no-repeat fixed
    50% 50%;
}
