.s-container {
  padding-top: 80px;
  padding-bottom: 120px;
  background: var(--light-bg, #faf0f9);
  text-align: center;
}

.s-container h2 {
  background: var(
    --gradient,
    linear-gradient(90deg, #ce482e 0%, #a84563 47%, #5d1360 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}

.s-container .speakers-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 60px;
  margin-left: auto;
  margin-right: auto;
}

.s-container .speakers-container .speaker {
  position: relative;
  width: 212.2px;
  height: 212.2px;
  margin-left: auto;
  margin-right: auto;
}

.s-container .speakers-container .speaker-content {
  z-index: 1;
  position: absolute;
  width: 100%;
  bottom: 0;
  gap: 16px;
  background: var(--navy-mid, #961d8a);
  text-align: left;
  border-radius: 0px 0px 8px 8px;
  transition: height 0.3s ease-out;
  height: 0;
  overflow: hidden;
}

.s-container .speakers-container .speaker:hover .speaker-content {
  height: 100px;
}

.s-container .speakers-container .speaker-image-wrapper {
  position: relative;
}

.s-container .speakers-container .speaker-image-wrapper .color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #230e25;
  mix-blend-mode: color;
  border-radius: 16px;
}

.s-container .speakers-container .speaker:hover .color-overlay {
  display: none;
}

.s-container .speakers-container .speaker-image-wrapper .speaker-image {
  filter: grayscale(0);
}

.s-container .speakers-container .speaker-content h4 {
  margin: 0;
  padding: 16px 24px 0 24px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.s-container .speakers-container .speaker-content div {
  margin-bottom: 10px;
}

.s-container .speakers-container .speaker-content p {
  margin: 0;
  color: var(--navy-light, #f7d4f3);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  padding: 0 24px 0 24px;
}

.modal-content {
  height: 484px;
}

.modal-header {
  border-bottom: none !important;
  padding: 0 !important;
  position: relative;
}

.modal-header .close-modal-button {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.modal-header .current-speaker-image {
  position: absolute;
  top: 48px;
  left: 48px;
  width: 200px;
  height: 200px;
}

.modal-body {
  display: flex;
  padding: 48px !important;
  align-items: flex-start;
  gap: 60px;
  flex: 1 0 0 !important;
  align-self: stretch;
  scrollbar-color: var(--navy-mid, #961d8a) !important;
}

.modal-body::-webkit-scrollbar {
  width: 8px;
}
.modal-body::-webkit-scrollbar-track {
  background: var(--navy-light, #f7d4f3);
}

.modal-body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: var(--navy-mid, #961d8a);
}
.modal-body .modal-body-content {
  width: 75%;
}

.modal-body .modal-body-content .h2-style {
  background: var(
    --gradient,
    linear-gradient(90deg, #ce482e 0%, #a84563 47%, #5d1360 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal-body .current-speaker-image-container {
  width: 200px;
  height: 200px;
}

.modal-body p {
  margin-bottom: 40px;
  color: var(--navy-mid, #961d8a);
  font-family: "Red Hat Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.modal-body span {
  white-space: pre-line;
  color: var(--dark, #230e25);
}

.modal-body .social-icons {
  margin-top: 40px;
}

.modal-body .social-icons > a {
  margin-right: 15px;
  cursor: pointer;
}

.s-container .carousel-indicators {
  bottom: -100px;
}
.s-container .carousel-indicators button {
  display: flex;
  width: 24px;
  height: 4.8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  background: var(--navy-light, #f7d4f3);
  opacity: 1;
}

.s-container .carousel-indicators .active {
  width: 44px !important;
  background: var(--navy-mid, #961d8a);
}

.s-container .carousel-control-prev,
.s-container .carousel-control-next {
  opacity: 1;
  width: 60px;
  height: 60px;
  margin-bottom: auto;
  margin-top: auto;
}

.s-container .icon-button {
  opacity: 1;
  z-index: 1;
  border-radius: 8px;
  padding: 10px;
  width: 60px;
  height: 60px;
  border: 1px solid var(--navy-mid, #961d8a);
  fill: var(--light, #fcf8fc);
  box-shadow: 4px 4px 8px 0px rgba(57, 19, 55, 0.25);
  transition: all 0.2s ease-out;
}

.s-container .icon-button:hover {
  background: var(--navy-light, #f7d4f3);
}

.s-container .carousel-control-prev {
  left: -7%;
}
.s-container .carousel-control-next {
  right: -7%;
}

.modal-body .image-body {
  display: none;
}

@media screen and (max-width: 1501px) {
  .s-container .speakers-container {
    row-gap: 40px;
    column-gap: 0;
  }

  .s-container .carousel-control-prev {
    left: -3%;
  }
  .s-container .carousel-control-next {
    right: -3%;
  }
}

@media screen and (max-width: 1400px) {
  .s-container .speakers-container .speaker {
    width: 170px;
    height: 170px;
  }

  .s-container .carousel-control-prev {
    left: -5%;
  }
  .s-container .carousel-control-next {
    right: -5%;
  }
}

@media screen and (max-width: 1300px) {
  .s-container .speakers-container .speaker {
    width: 170px;
    height: 170px;
  }

  .s-container .carousel-control-prev {
    left: -4%;
  }
  .s-container .carousel-control-next {
    right: -4%;
  }
}

@media screen and (max-width: 1200px) {
  .s-container .speakers-container {
    row-gap: 15px;
  }

  .s-container .carousel-control-prev {
    left: -7%;
  }
  .s-container .carousel-control-next {
    right: -7%;
  }
}

@media screen and (max-width: 1100px) {
  .s-container .speakers-container {
    width: 800px;
    row-gap: 10px;
  }
  .s-container .speakers-container .speaker {
    width: 150px;
    height: 150px;
  }
  .s-container .carousel-control-prev {
    left: -1%;
  }
  .s-container .carousel-control-next {
    right: -1%;
  }
}

@media screen and (max-width: 992px) {
  .s-container .speakers-container {
    width: 100%;
    row-gap: 20px;
  }
  .s-container .speakers-container .speaker {
    width: 120px;
    height: 120px;
  }
  .s-container .carousel-control-prev {
    left: -9%;
  }
  .s-container .carousel-control-next {
    right: -9%;
  }

  .modal-content {
    width: 272px !important;
    margin-left: auto;
    margin-right: auto;
  }
  .modal-body .current-speaker-image-container {
    width: 180px;
    height: 180px;
  }

  .modal-body {
    display: grid;
    gap: 0;
    padding: 16px !important;
  }

  .modal-header .current-speaker-image {
    opacity: 0;
    display: none;
  }

  .modal-body .image-body {
    display: flex;
  }

  .modal-body .modal-body-content {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .s-container {
    padding-top: 46px;
    padding-bottom: 26px;
  }
  .s-container .speakers-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 314px;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
  }

  .s-container .speakers-container .speaker {
    width: 148px;
    height: 220px;
  }

  .s-container .speakers-container .speaker .speaker-content {
    height: 88px;
  }
  .s-container .speakers-container .speaker:hover .speaker-content {
    height: 88px;
  }
  .s-container .speakers-container .speaker-content h4 {
    padding: 8px 16px 0px 16px;
  }

  .s-container .speakers-container .speaker-content p {
    padding: 0 16px 0 16px;
  }

  .s-container .speakers-container .speaker-content .p-role {
    display: none;
  }

  .s-container .speakers-container .speaker-content div {
    margin: 0;
  }

  .s-container .speakers-container .speaker .color-overlay,
  .s-container .carousel-indicators {
    display: none;
  }

  .s-container .carousel {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
  }

  .s-container .carousel-inner {
    grid-row: 1;
  }

  .s-container .carousel-control-prev,
  .s-container .carousel-control-next {
    position: static;
    margin: auto;
    position: relative;
    display: block !important;
    flex-direction: column;
    align-items: center;
  }
  .s-container .carousel-control-prev {
    left: -40px;
    top: 24px;
  }
  .s-container .carousel-control-next {
    left: 40px;
    top: -36px;
  }
}
