.s-container {
  padding-top: 80px;
  padding-bottom: 120px;
  background: var(--light-bg, #faf0f9);
  text-align: center;
}

.s-container h2 {
  background: var(
    --gradient,
    linear-gradient(90deg, #ce482e 0%, #a84563 47%, #5d1360 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}

.s-container .speakers-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 60px;
}
.s-container .carousel-indicators {
  bottom: -100px;
}
.s-container .carousel-indicators button {
  display: flex;
  width: 24px;
  height: 4.8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  background: var(--navy-light, #f7d4f3);
  opacity: 1;
}

.s-container .carousel-indicators .active {
  width: 44px !important;
  background: var(--navy-mid, #961d8a);
}

.s-container .carousel-control-prev,
.s-container .carousel-control-next {
  opacity: 1;
}
.s-container .carousel-control-prev-icon,
.s-container .carousel-control-next-icon {
  z-index: 1;
  display: inline-flex;
  transform: rotate(0deg);
  align-items: flex-start;
  border-radius: 8px;
  width: 60px;
  height: 60px;
  border: 1px solid var(--navy-mid, #961d8a);
  background: var(--light, #fcf8fc);
  box-shadow: 4px 4px 8px 0px rgba(57, 19, 55, 0.25);
}

.s-container .carousel-control-prev-icon:hover,
.s-container .carousel-control-next-icon:hover {
  background-color: var(--navy-light, #f7d4f3);
  transition: all 0.2s ease-out;
}

.s-container .carousel-control-prev {
  left: -7%;
  width: 60px;
}
.s-container .carousel-control-next {
  width: 60px;
  right: -7%;
}
.s-container .carousel-control-prev-icon {
  background: url("../../../images/speakers/arrow-left.png") no-repeat fixed 50%
    50%;
}

.s-container .carousel-control-next-icon {
  background: url("../../../images/speakers/arrow-right.png") no-repeat fixed
    50% 50%;
}
