.wpic-container {
  padding-top: 140px;
  overflow: hidden;
  background-size: cover !important;
  background-position: center;
  width: 100%;
  background: url(../../../images/wpic/wpic-background.png) no-repeat fixed 50%
    0;
  background-attachment: scroll;
}

.wpic-container .wpic-titles-container {
  display: flex;
  justify-content: center;
}
