.wpic-container {
  background: url(../../../images/wpic/wpic-background.png) no-repeat fixed 50%
    0;
  padding-top: 160px;
  padding-bottom: 110px;
  overflow: hidden;
  background-size: cover !important;
  background-position: center;
  width: 100%;
  text-align: center;
}

.wpic-container {
  background-attachment: scroll !important;
}

.wpic-container .wpic-titles-container {
  display: flex;
  justify-content: center;
}

.wpic-container .wpic-titles-container .wpic-icon {
  vertical-align: middle;
  margin-right: 8px;
}

.wpic-container .wpic-titles-container h4 {
  margin: 0 20px;
}

.wpic-container h1 {
  margin-top: 16px;
}

.wpic-container h1,
.wpic-container h4 {
  color: var(--light, #f8f8fc);
}

.wpic-container .wpic-time-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.wpic-container .wpic-time-container > div {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  width: 180px;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: rgba(248, 248, 252, 0.1);
}

.wpic-container .wpic-time-container > div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wpic-container .wpic-time-container > div div .p-time {
  color: var(--light, #f8f8fc);
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.wpic-container .wpic-time-container > div div .p-time-desc {
  color: var(--light, #f8f8fc);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.4px;
  margin: 0;
}
